.card {
  width: 23vw;
  height: 37vh;
  margin: 10px;
  border-radius: 5px;
  background-color: #ccc;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: auto;
  transition: background-color 0.5s;
}
.card:hover {
  background-color: rgb(173, 165, 165);
}
.card img {
  max-height: 12vw;
  /* height: 230px; */
  height: auto;
  border-radius: 5px;
}
.title {
  display: block;
  font-weight: bold;
  padding: 5px;
  text-transform: capitalize;
  text-decoration: none;
}
.foot {
  /* text-align: start; */
  padding: 5px 15px;
}
.foot p {
  margin: 0 5px;
  display: block;
  padding: 0;
}
.foot span {
  font-weight: bold;
}

.btnInfo {
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  margin-bottom: 3px;
}
a {
  text-decoration: none;
  color: black;
}
