.button {
  background-color: grey;
  border: none;
  color: white;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 15px 2px;
  border-radius: 5px;
  transition: background-color 0.5s;
}
.button:hover {
  background-color: black;
}

.title {
  /* font-family: "Roboto"; */
  font-size: 5rem;
}
