.button {
  background-color: #69788d;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 15px 2px;
  border-radius: 5px;
  transition: background-color 0.5s;
}
.button:hover {
  background-color: black;
  cursor: pointer;
}

.title {
  font-size: 5rem;
}
.dogimg img {
  width: 600px;
  margin: auto;
  max-width: 600px;
}

@media (max-width: 992px) {
  .dogimg img {
    width: 500px;
  }
}
