.title {
  font-size: 2.7rem;
  margin-left: 30px;
  color: white;
  font-weight: 600;
}
.head {
  height: 4rem;
  background-color: #69788d;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.button {
  background-color: grey;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 15px 30px;
  border-radius: 5px;
}
.button:hover {
  background-color: rgb(70, 66, 66);
}
